In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score

In [2]:
url = "https://raw.githubusercontent.com/MAliHasnain/Census-Income/main/CensusDB.csv"
df = pd. read_csv(url,index_col = 0)
df.head()

,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,sex,capital-gain,capital-loss,hours-per-week,native-country,income
age,,,,,,,,,,,,,
90,?,77053,HS-grad,9,Widowed,?,Not-in-family,Female,0,4356,40,United-States,<=50K
82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,Female,0,4356,18,United-States,<=50K
66,?,186061,Some-college,10,Widowed,?,Unmarried,Female,0,4356,40,United-States,<=50K
54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,Female,0,3900,40,United-States,<=50K
41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,Female,0,3900,40,United-States,<=50K

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32561 entries, 90 to 22
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   workclass       32561 non-null  object
 1   fnlwgt          32561 non-null  int64
 2   education       32561 non-null  object
 3   education-num   32561 non-null  int64
 4   marital-status  32561 non-null  object
 5   occupation      32561 non-null  object
 6   relationship    32561 non-null  object
 7   sex             32561 non-null  object
 8   capital-gain    32561 non-null  int64
 9   capital-loss    32561 non-null  int64
 10  hours-per-week  32561 non-null  int64
 11  native-country  32561 non-null  object
 12  income          32561 non-null  object
dtypes: int64(5), object(8)
memory usage: 3.5+ MB

In [4]:
# Count of unique values in the 'label' column to understand the class distribution

print(df['income'].value_counts())

<=50K    24720
>50K      7841
Name: income, dtype: int64

In [5]:
df.shape

(32561, 13)

In [6]:
# Handling Missing Values
df['workclass'] = df['workclass'].replace('?', 'Unknown')
df['occupation'] = df['occupation'].replace('?', 'Unknown')
df.head()

,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,sex,capital-gain,capital-loss,hours-per-week,native-country,income
age,,,,,,,,,,,,,
90,Unknown,77053,HS-grad,9,Widowed,Unknown,Not-in-family,Female,0,4356,40,United-States,<=50K
82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,Female,0,4356,18,United-States,<=50K
66,Unknown,186061,Some-college,10,Widowed,Unknown,Unmarried,Female,0,4356,40,United-States,<=50K
54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,Female,0,3900,40,United-States,<=50K
41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,Female,0,3900,40,United-States,<=50K

In [7]:
# Converting Categorical Variables using Label Encoding
label_encoder = LabelEncoder()
categorical_columns = ['education', 'marital-status', 'occupation', 'relationship', 'sex', 'native-country']
for column in categorical_columns:
    df[column] = label_encoder.fit_transform(df[column])

# Encoding the Target Variable
df['income'] = df['income'].map({'<=50K': 0, '>50K': 1})

# head view of new dataset
df.head()

,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,sex,capital-gain,capital-loss,hours-per-week,native-country,income
age,,,,,,,,,,,,,
90,Unknown,77053,11,9,6,14,1,0,0,4356,40,39,0
82,Private,132870,11,9,6,3,1,0,0,4356,18,39,0
66,Unknown,186061,15,10,6,14,4,0,0,4356,40,39,0
54,Private,140359,5,4,0,6,4,0,0,3900,40,39,0
41,Private,264663,15,10,5,9,3,0,0,3900,40,39,0

In [8]:
# Split the data into features (X) and target variable (y)
X = df.drop(columns=['income'])
y = df['income']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

In [9]:
# Feature Scaling (for numerical columns only)
num_cols = X.select_dtypes(include=['int64', 'float64']).columns
scaler = StandardScaler()
X_train[num_cols] = scaler.fit_transform(X_train[num_cols])
X_test[num_cols] = scaler.transform(X_test[num_cols])

# Encode the 'workclass' column
label_encoder = LabelEncoder()
X_train['workclass'] = label_encoder.fit_transform(X_train['workclass'])
X_test['workclass'] = label_encoder.transform(X_test['workclass'])

In [10]:
# Train the models
models = {
    'Logistic Regression': LogisticRegression(random_state=123,max_iter=1000),
    'Random Forest': RandomForestClassifier(random_state=123),
    'Support Vector Machine': SVC(random_state=123),
    'k-Nearest Neighbors': KNeighborsClassifier(),
    'Neural Network': MLPClassifier(random_state=123)
    }

# Model fit
for model_name, model in models.items():
    print(f"Training {model_name}...")
    model.fit(X_train, y_train)

Training Logistic Regression...
Training Random Forest...
Training Support Vector Machine...
Training k-Nearest Neighbors...
Training Neural Network...

In [11]:
# Evaluate the models
print("\nModel Evaluation:")
for model_name, model in models.items():
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    report = classification_report(y_test, y_pred)
    print(f"\n{model_name}:\nAccuracy: {accuracy:.4f}\nClassification Report:\n{report}")
    print("Confusion Matrix:")
    print(confusion_matrix(y_test, y_pred))

Model Evaluation:

Logistic Regression:
Accuracy: 0.8283
Classification Report:
              precision    recall  f1-score   support

           0       0.84      0.95      0.89      4910
           1       0.76      0.44      0.56      1603

    accuracy                           0.83      6513
   macro avg       0.80      0.70      0.73      6513
weighted avg       0.82      0.83      0.81      6513

Confusion Matrix:
[[4689  221]
 [ 897  706]]

Random Forest:
Accuracy: 0.8403
Classification Report:
              precision    recall  f1-score   support

           0       0.88      0.92      0.90      4910
           1       0.71      0.60      0.65      1603

    accuracy                           0.84      6513
   macro avg       0.79      0.76      0.77      6513
weighted avg       0.83      0.84      0.84      6513

Confusion Matrix:
[[4505  405]
 [ 635  968]]

Support Vector Machine:
Accuracy: 0.7993
Classification Report:
              precision    recall  f1-score   support

           0       0.80      0.99      0.88      4910
           1       0.84      0.23      0.36      1603

    accuracy                           0.80      6513
   macro avg       0.82      0.61      0.62      6513
weighted avg       0.81      0.80      0.75      6513

Confusion Matrix:
[[4842   68]
 [1239  364]]

k-Nearest Neighbors:
Accuracy: 0.8182
Classification Report:
              precision    recall  f1-score   support

           0       0.86      0.91      0.88      4910
           1       0.66      0.54      0.59      1603

    accuracy                           0.82      6513
   macro avg       0.76      0.72      0.74      6513
weighted avg       0.81      0.82      0.81      6513

Confusion Matrix:
[[4462  448]
 [ 736  867]]

Neural Network:
Accuracy: 0.8443
Classification Report:
              precision    recall  f1-score   support

           0       0.87      0.94      0.90      4910
           1       0.74      0.56      0.64      1603

    accuracy                           0.84      6513
   macro avg       0.80      0.75      0.77      6513
weighted avg       0.84      0.84      0.84      6513

Confusion Matrix:
[[4594  316]
 [ 698  905]]

In [12]:
# Feature Scaling (Standardization)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Define the hyperparameter grid for Logistic Regression
param_grid = {
    'C': [0.01, 0.1, 1, 10],
    'penalty': ['l1', 'l2'],
    'solver': ['liblinear']
}

# Initialize the Logistic Regression model
logreg = LogisticRegression(random_state=123)

# Perform Grid Search with 5-fold cross-validation
grid_search = GridSearchCV(logreg, param_grid, cv=5, scoring='accuracy')
grid_search.fit(X_train_scaled, y_train)

GridSearchCV(cv=5, estimator=LogisticRegression(random_state=123),
             param_grid={'C': [0.01, 0.1, 1, 10], 'penalty': ['l1', 'l2'],
                         'solver': ['liblinear']},
             scoring='accuracy')

In [13]:
# Get the best hyperparameters and the best model
best_params = grid_search.best_params_
best_model = grid_search.best_estimator_

# Train the best model on the training set
best_model.fit(X_train_scaled, y_train)

# Evaluate the best model on the test set
accuracy = best_model.score(X_test_scaled, y_test)

best_params
accuracy

0.828650391524643

In [14]:
# Initialize a dictionary to store the accuracy scores of each model
accuracy_scores = {}

# Evaluate each model on the test set and store the accuracy scores
for model_name, model in models.items():
    if model_name == 'Neural Network':
        continue  # Skip the Neural Network model
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    accuracy_scores[model_name] = accuracy


# Print the accuracy scores for each model
for model_name, accuracy in accuracy_scores.items():
    print(f"{model_name} Accuracy: {accuracy:.2f}")

Logistic Regression Accuracy: 0.83
Random Forest Accuracy: 0.84
Support Vector Machine Accuracy: 0.80
k-Nearest Neighbors Accuracy: 0.82

In [15]:
# Find the best model based on the highest accuracy score
best_model = max(accuracy_scores, key=accuracy_scores.get)

# Print the best model
print(f"The best model is: {best_model} with an accuracy of {accuracy_scores[best_model]:.2f}")

The best model is: Random Forest with an accuracy of 0.84